
.feedbackForm{
    width: 90%;
    height: 450px;
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.feedbackForm .header{
    font-size: x-large;
    padding-bottom: 25px;
    font-weight: 500;
}

.feedbackForm label {
    width: 115px;
    height: 55px;
    font-size: large;
    font-weight: 500;
}

textarea {
    width: 450px;
    height: 150px;
}

#feedbackValues{
    text-align: center;
}
