.navbar {
  background-color: rgb(224, 111, 45);
  margin-bottom: 1.75rem;
}

.nav-link {
  color: white;
}

.feedback{
  padding: 0em 1em;
}

.dropdown FaBell{
  color: white
}

.notificationIcon{
  background-color: white;
}
